@import "./variables.scss";
@import "./mixin.scss";

#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

header {
  height: 80px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 20px;
  border-bottom: $border-base;
}
