// 색상
$color-bg-main: #f0f0f0;
$color-bg-white: #fff;
$color-primary: #256ef4;
$color-red: #f52a47;
$color-text-main: #373f57;
$color-bg-blue: #eff5ff;
$color-bg-green: #4caf50;
$color-bg-green-light: rgba(76, 175, 80, 0.4); // 연한 초록
// radius
$radius-btn: 9.9rem;
$radius-card: 10px;
$radius-round: 50%;

// 그림자
$shadow-base: 0 0 2px #aaa;

// 폰트
$font-size-base: 16px;
$font-size-lg: 18px;
$font-size-sm: 0.9rem;

// spacing
$margin-main: 20px;
$padding-card: 0.7rem 2.9rem;

// border
$border-base: 1px solid #e0e0e0;
$border-primary: 1px solid #9bbefd;
$box-shadow-base: 0 0 2px #aaa;
